<ul class="nav nav-pills p-2 pl-4">
    <li class="nav-item">
        <a class="nav-link text-white" href="#">home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="#" id="view_saved">saved articles</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" id="npr" href="#">scrape NPR</a>
    </li>
</ul>