<ul class="nav nav-pills p-2 pl-4">
    <li class="nav-item">
		<div class="nav-link text-white" id="home" style="cursor: pointer" href="/">home</div>
    </li>
    <li class="nav-item">
        <div class="nav-link text-white" id="view_saved" style="cursor: pointer">saved articles</div>
    </li>
    <li class="nav-item">
        <div class="nav-link text-white" id="npr" style="cursor: pointer">scrape NPR</div>
    </li>
</ul>