{{> navbar}}

<div class="jumbotron">
	<h1 class='display-4'>newScraper</h1>
	<p class="lead">for scraping and saving the news</p>
</div>

{{> notes_modal}}

<div id="article_box9">

	 <div class="row m-4 p-2 articleRow">
	 		Looks like no articles have been scraped recently – click one of the navbar buttons above to see some</div>

</div>
