.jumbotron {
	height: 200px;
	padding-top: 30px;
}
.display-4 {
	font-family: "Limelight", sans;
	font-size: 64px;
}
.lead {
	font-family: "Abel", sans;
	font-size: 26px;
}
.nav {
	background-color: hsla(193, 53%, 22%, 1);
}
.nav-item {
	margin: 10px;
	border-radius: 10px;
	font-family: "Abel", sans;
	font-size: 20px;
}
#home {
	background-color: hsla(61, 53%, 25%, 1);
	border: solid 1px hsla(61, 53%, 25%, 1);
	border-radius: 10px;
}
#home:hover {
	background-color: hsla(61, 53%, 19%, 1);
	border: solid gray 1px;
	border-radius: 10px;
}
#view_saved {
	background-color: hsla(61, 53%, 10%, 1);
	border-radius: 10px;	
	border: solid gray 1px;
}
#view_saved:hover {
	background-color: hsla(61, 53%, 3%, 1);
}
.hide_saved {
	display: none;
}
.btn-success {
	justify-content: center;
	border-radius: 6px;
	font-weight: 700;
	padding: 20px;
}
#npr {
	background-color: hsla(345, 45%, 23%, 1);
	border-radius: 10px;
	border: solid gray 1px;
}
#npr:hover {
	background-color: hsla(345, 45%, 13%, 1);
}
/*.save {
	margin-left: -30px;
}*/
.articleRow {
	border: solid gray 2px;
	border-radius: 4px;
}
.title {
	font-size: 30px;
	font-family: "Abel", sans;
}
.link {
	font-size: 14px;
	color: darkgray;
}
.view_notes {
	background-color: hsla(57, 65%, 40%, 1);
	font-weight: 700;
	color: white;
	margin-left: -6px;
}
.view_notes:hover {
	background-color: hsla(57, 65%, 25%, 1)
}
.rowdal {
	border: solid gray 2px;
	border-radius: 3px;
	background-color: lightgray;
}
.notle {
	display: inline-block;
	font-size: 20px;
	width: 100%;
}
.nody {
	display: inline-block;
	font-size: 14px;
	width: 100%;
}
.col-2 {
	padding-top: 20px;
}