.jumbotron {
	height: 200px;
	padding-top: 30px;
}
.display-4 {
	font-family: "Limelight", sans;
	font-size: 64px;
}
.lead {
	font-family: "Abel", sans;
	font-size: 26px;
}
.nav {
	background-color: hsla(193, 53%, 22%, 1);
}
.nav-item {
	background-color: hsla(61, 53%, 25%, 1);
	margin: 10px;
	border-radius: 10px;
	font-family: "Abel", sans;
	font-size: 20px;
}
#view_saved {
	background-color: hsla(61, 53%, 10%, 1);
	border-radius: 10px;	
	border: none;
}
#npr {
	background-color: hsla(345, 45%, 23%, 1);
	border-radius: 10px;
	border: solid gray 1px;
}
.articleRow {
	border: solid gray 2px;
	border-radius: 4px;
}
.title {
	font-size: 30px;
	font-family: "Abel", sans;
}
.link {
	font-size: 14px;
	color: darkgray;
}
.view_notes {
	background-color: hsla(57, 65%, 40%, 1);
	font-weight: 700;
	color: white;
}
.view_notes:hover {
	background-color: hsla(57, 65%, 25%, 1)
}